<div class="filter-products">
    <ul class="list-group">
        <li class="list-group-item">
            Products
        </li>
        <li class="list-group-item">
            All Products
        </li>
        <li class="list-group-item">
            Trending
        </li>
        <li class="list-group-item">
            Featured
        </li>
        <li class="list-group-item">
            Special
        </li>
        <li class="list-group-item">
            Phone
        </li>
        <li class="list-group-item">
            Headphone
        </li>
    </ul>
</div>
