.filter-products{
    .list-group{
        .list-group-item{
            cursor: pointer;
            padding: 1.5rem;
            &:first-child{
                text-align: center;
                background: #D84727;
                color: white;
            }
        }
    }
}

.active{
    background: #D9E8EC;
    border-color: #D9E8EC ;
    color: black;
}