.products-container{
    padding: 3rem 3rem 3rem 3rem;
    background: var(--primaryColor);
    .nav{
        margin-bottom: 3rem;
        span{
            &:last-child{
                color: #D84727 ;
            }
        }
    }
    .body{
        display: flex;
        .left{
            flex: 1;
            margin-right: 3rem;
        }
        .right{
            background: white;
            flex: 3;
            padding-top: 3rem;
            .row{
                .col-4{
                    margin-bottom: 6rem;
                }
            }
        }
    }
}