<div class="hero">
    <ngx-glide
    #ngxGlide           
            [showBullets]="true"
            [type]="'carousel'"
            [startAt]=0
            [perView]=1
            [autoplay]=2000
            [hoverpause]="true"
            [perTouch]="false"
            [gap]= 0
            [animationDuration]=1000
            [arrowLeftTemplate]="(showCustomArrows && arrowLeftTemplate) || null"
            [arrowRightTemplate]="(showCustomArrows && arrowRightTemplate) || null"
    >
        <div class="glide__slide">
            <div class="hero-center">
                <div class="hero-left">
                    <p>
                        New Inspiration 2021
                    </p>
                    <h1>
                        PHONE MADE FOR YOU!
                    </h1>
                    <p>
                        Trending from mobile and headphone style collection
                    </p>
                    <a href=""><button>SHOP NOW</button></a>
                </div>
                <div class="hero-right">
                    <img src="../../../assets/img/banner_01.png" alt="">
                </div>
            </div>
        </div>
        <div class="glide__slide">
            <div class="hero-center">
                <div class="hero-left">
                    <p>
                        New Inspiration 2021
                    </p>
                    <h1>
                        PHONE MADE FOR YOU!
                    </h1>
                    <p>
                        Trending from mobile and headphone style collection
                    </p>
                    <a href=""><button>SHOP NOW</button></a>
                </div>
                <div class="hero-right">
                    <img src="../../../assets/img/banner_02.png" alt="">
                </div>
            </div>
        </div>
    </ngx-glide>
    
    <ng-template #arrowLeftTemplate>
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <i class="fas fa-arrow-left"></i>
        </button>
    </ng-template>
    <ng-template #arrowRightTemplate>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <i class="fas fa-arrow-right"></i>
        </button>
    </ng-template>
</div>