.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--primaryColor);    
    &:hover{
        .glide__arrow{
            opacity: 1;
        }
    }
    .glide{
        .glide__track{
            .glide__slides{
                .glide__slide{
                    .hero-center{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        max-width: 114rem;
                        margin: 0 auto;
                        padding-top: 3rem;                        
                        .hero-left{
                            align-items: center;
                            text-align: center;
                            flex: 1;                            
                            p{
                                margin-bottom: 1rem;
                            }
                            h1{
                                margin-bottom: 1rem;
                            }
                            p{
                                margin-bottom: 1rem;
                            }
                            a{
                                button{
                                    margin-top: 1rem;
                                    background: black;
                                    color: white;
                                    border: none;
                                    font-size: 1.4rem;
                                    font-weight: 700;
                                    padding: 1.5rem 3rem;
                                    &:hover{
                                        background: white;
                                        color: black;
                                        border: 1px solid black;
                                    }                                                                       
                                }
                            }
                        }
                        .hero-right{
                            flex: 1;
                            align-items: center;
                            text-align: center;                            
                            img{
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }
        .glide__arrows{
            .glide__arrow{
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                align-items: center;
                text-align: center;
                background: grey;
                border: none;
                opacity: 0;
                &:hover{
                    background: black;
                }
                i{
                    font-size: 1.5rem;
                }
            }
        }
        .glide__bullets{
            position: absolute;
            bottom: 1%;            
            button{
                background: var(--black);
            }
        }
    }
}