<div class="hero">
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
                <div class="hero-center">
                    <div class="hero-left">
                        <p>
                            New Inspiration 2021
                        </p>
                        <h1>
                            PHONE MADE FOR YOU!
                        </h1>
                        <p>
                            Trending from mobile and headphone style collection
                        </p>
                        <a href=""><button>SHOP NOW</button></a>
                    </div>
                    <div class="hero-right">
                        <img src="../../../assets/img/banner_01.png" alt="">
                    </div>
                </div>
            </li>
            <!-- <li class="glide__slide">
                <div class="hero-center">
                    <div class="hero-left">
                        <p>
                            New Inspiration 2021
                        </p>
                        <h1>
                            PHONE MADE FOR YOU!
                        </h1>
                        <p>
                            Trending from mobile and headphone style collection
                        </p>
                        <a href=""><button>SHOP NOW</button></a>
                    </div>
                    <div class="hero-right">
                        <img src="../../../assets/img/banner_02.png" alt="">
                    </div>
                </div>
            </li> -->
          </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                <i class="fas fa-arrow-left"></i>
            </button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>
        <div class="glide__bullets" data-glide-el="controls[nav]">
            <button class="glide__bullet" data-glide-dir="=0"></button>
            <button class="glide__bullet" data-glide-dir="=1"></button>
        </div>
    </div>                  
</div>
