<div class="latest-product">
    <div class="latest-title">
        <span class="square"><span></span></span>
        <p>Latest Products</p>
    </div>
    <ngx-glide
                [showBullets]= "false"
                [type]="'carousel'"
                [startAt]=0
                [perView]=4
                [autoplay]=2000
                [hoverpause]="true"
                [perTouch]="false"
                [gap]= 0
                [animationDuration]=1000
                [arrowLeftTemplate]="(showCustomArrows && arrowLeftTemplate) || null"
                [arrowRightTemplate]="(showCustomArrows && arrowRightTemplate) || null"                
    >
        <ng-container *ngFor= "let product of latestProducts">
            <app-product [prod]="product"></app-product>
        </ng-container>
    </ngx-glide>

    <ng-template #arrowLeftTemplate>
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <i class="fas fa-arrow-left"></i>
        </button>
    </ng-template>
    <ng-template #arrowRightTemplate>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <i class="fas fa-arrow-right"></i>
        </button>
    </ng-template>    
</div>