<div class="latest-product">
    <div class="latest-title">
        <span class="square"><span></span></span>
        <p>Latest Products</p>
    </div>
    <ngx-glide
                [showArrows]= "false"
                [showBullets]= "false"
                [type]="'carousel'"
                [startAt]=0
                [perView]=4
                [autoplay]=2000
                [hoverpause]="true"
                [perTouch]="false"
                [gap]= 0
                [animationDuration]=1000
                
    >
        <div class="glide__slide">
            <img src="../../../assets/img/iphone1.jpeg" alt="">
            <p>Apple iPhone XR</p>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <span>$550</span>
            <button>ADD TO CART</button>
            <div class="quick-view">
                <div class="border">
                    <i class="fas fa-eye"></i>
                </div>
                <div class="border">
                    <i class="far fa-heart"></i>
                </div>
                <div class="border">
                    <i class="fas fa-redo"></i>
                </div>
            </div>
        </div>   
        
        <div class="glide__slide">
            <img src="../../../assets/img/iphone2.jpeg" alt="">
            <p>Apple iPhone XR</p>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <span>$550</span>
            <button>ADD TO CART</button>
            <div class="quick-view">
                <div class="border">
                    <i class="fas fa-eye"></i>
                </div>
                <div class="border">
                    <i class="far fa-heart"></i>
                </div>
                <div class="border">
                    <i class="fas fa-redo"></i>
                </div>
            </div>
        </div>
    
        <div class="glide__slide">
            <img src="../../../assets/img/iphone3.jpeg" alt="">
            <p>Apple iPhone XR</p>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <span>$550</span>
            <button>ADD TO CART</button>
            <div class="quick-view">
                <div class="border">
                    <i class="fas fa-eye"></i>
                </div>
                <div class="border">
                    <i class="far fa-heart"></i>
                </div>
                <div class="border">
                    <i class="fas fa-redo"></i>
                </div>
            </div>
        </div>
    
        <div class="glide__slide">
            <img src="../../../assets/img/samsung1.jpeg" alt="">
            <p>SamSung Galaxy S21</p>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <span>$550</span>
            <button>ADD TO CART</button>
            <div class="quick-view">
                <div class="border">
                    <i class="fas fa-eye"></i>
                </div>
                <div class="border">
                    <i class="far fa-heart"></i>
                </div>
                <div class="border">
                    <i class="fas fa-redo"></i>
                </div>
            </div>
        </div>
    
        <div class="glide__slide">
            <img src="../../../assets/img/samsung2.jpeg" alt="">
            <p>SamSung Galaxy S21</p>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <span>$550</span>
            <button>ADD TO CART</button>
            <div class="quick-view">
                <div class="border">
                    <i class="fas fa-eye"></i>
                </div>
                <div class="border">
                    <i class="far fa-heart"></i>
                </div>
                <div class="border">
                    <i class="fas fa-redo"></i>
                </div>
            </div>
        </div>
    
        <div class="glide__slide">
            <img src="../../../assets/img/samsung3.jpeg" alt="">
            <p>SamSung Galaxy S21</p>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <span>$550</span>
            <button>ADD TO CART</button>
            <div class="quick-view">
                <div class="border">
                    <i class="fas fa-eye"></i>
                </div>
                <div class="border">
                    <i class="far fa-heart"></i>
                </div>
                <div class="border">
                    <i class="fas fa-redo"></i>
                </div>
            </div>
        </div>
    
        <div class="glide__slide">
            <img src="../../../assets/img/headphone1.jpeg" alt="">
            <p>Headphone</p>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <span>$550</span>
            <button>ADD TO CART</button>
            <div class="quick-view">
                <div class="border">
                    <i class="fas fa-eye"></i>
                </div>
                <div class="border">
                    <i class="far fa-heart"></i>
                </div>
                <div class="border">
                    <i class="fas fa-redo"></i>
                </div>
            </div>
        </div>
    
        <div class="glide__slide">
            <img src="../../../assets/img/headphone2.jpeg" alt="">
            <p>Headphone</p>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <span>$550</span>
            <button>ADD TO CART</button>
            <div class="quick-view">
                <div class="border">
                    <i class="fas fa-eye"></i>
                </div>
                <div class="border">
                    <i class="far fa-heart"></i>
                </div>
                <div class="border">
                    <i class="fas fa-redo"></i>
                </div>
            </div>
        </div>
    </ngx-glide>
</div>