.latest-product{
    position: relative;
    width: 100%;
    margin-top: 9rem;
    padding-left: 6.5rem;
    padding-right: 6.5rem;
    margin-bottom: 9rem;    
    .latest-title{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        background: var(--primaryColor);        
        .square{
            width: 12px;
            height: 12px;
            border: 1px solid black;
            margin-right: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;            
            span{
                width: 8px;
                height: 8px;
                background: black;
            }
        }
    }
    .glide__arrow--left{
        position: absolute;
        top:-7%;
        left: 85%;      
        color: grey;
        border: 1px solid var(--primaryColor);
    }
    .glide__arrow--right{
        position: absolute;
        top:-7%;
        left: 89%;
        color: grey;
        border: 1px solid var(--primaryColor);        
    }
}