<div class="header">
    <div class="navigation">
        <div class="bar">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <h2>PHONE</h2>
        </div>
        <div class="nav">
            <div class="nav-top">
                <span>PHONE</span>
                <i class="fas fa-times"></i>
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="#category">CATEGORY</a>
                </li>
                <li class="nav-item">
                    <a href="#news">BLOG</a>
                </li>
                <li class="nav-item">
                    <a href="#contact">CONTACT</a>
                </li>
            </ul>
        </div>
        <div class="nav-icon">
            <i class="fas fa-user"></i>
            <i class="fas fa-search"></i>
            <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
</div>
