<div class="footer">
    <div class="end">
        <div class="end-box">
            <h3>EXTRAS</h3>
            <ul>
                <li>Brands</li>
                <li>Gift Certificates</li>
                <li>Affiliate</li>
                <li>Specials</li>
                <li>Site Map</li>
            </ul>
        </div>
        <div class="end-box">
            <h3>INFORMATION</h3>
            <ul>
                <li>About Us</li>
                <li>Privacy Policy</li>
                <li>Terms & Conditions</li>
                <li>Contact Us</li>
                <li>Site Map</li>
            </ul>
        </div>
        <div class="end-box">
            <h3>MY ACCOUNT</h3>
            <ul>
                <li>My Account</li>
                <li>Order History</li>
                <li>Wish Lish</li>
                <li>Newsletter</li>
                <li>Returns</li>
            </ul>
        </div>
        <div class="end-box">
            <h3>CONTACT US</h3>
            <ul>
                <li>
                    <i class="fas fa-map-marker-alt"></i>
                    42 Dream House, Dreammy street, 7131 Dreamville, USA
                </li>
                <li>
                    <i class="fas fa-envelope"></i>
                    company@gmail.com
                </li>
                <li>
                    <i class="fas fa-phone-alt"></i>
                    456-456-4512
                </li>
                <li>
                    <i class="far fa-paper-plane"></i>
                    Dream City, USA
                </li>
            </ul>
        </div>
    </div>
</div>
