<div class="glide__slide">
    <img src="{{prod.img}}" alt="">
    <p>{{prod.name}}</p>
    <div class="star">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
    <span>{{prod.cost}}</span>
    <button>ADD TO CART</button>
    <div class="quick-view">
        <div class="border">
            <i class="fas fa-eye"></i>
        </div>
        <div class="border">
            <i class="far fa-heart"></i>
        </div>
        <div class="border">
            <i class="fas fa-redo"></i>
        </div>
    </div>
</div>  
