.collection{
    font-family: 'Poppins-400';
    font-size: 1.6rem;
    margin: 6rem 8rem;
    display: flex;
    justify-content: space-between;
   .collection-box{
        background: var(--primaryColor);
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;       
       .collection-img{
            width: 50%;
            img{
                width: 60%;
            }
        }
       .collection-content{
           h2{
               font-family: 'Poppins-600';
               font-size: 2.5rem;
           }
           a{
                button{
                    margin-top: 1rem;
                    padding: 0.75rem 2rem;
                    border: none;
                    border-radius: 2rem;
                    border: 2px solid var(--secondaryColor);
                    color: white;
                    background: var(--secondaryColor);
                    font-size: 1.6rem;
                    font-family: 'Poppins-700';
                    &:hover{
                        cursor: pointer;
                        color: var(--secondaryColor);
                        background: white;
                    }                    
                }
           }
       }
   } 
}