<div class="collection">
    <div class="collection-box">
        <div class="collection-img">
            <img src="../../../assets/img/collection_01.png" alt="">
        </div>
        <div class="collection-content">
            <p>Phone Device Preset</p>
            <h2>SMARTPHONES</h2>
            <a href=""><button>SHOP NOW</button></a>
        </div>
    </div>
    <div class="collection-box">
        <div class="collection-img">
            <img src="../../../assets/img/collection_02.png" alt="">
        </div>
        <div class="collection-content">
            <p>New Color Introduced</p>
            <h2>HEADPHONES</h2>
            <a href=""><button>SHOP NOW</button></a>
        </div>
    </div>
</div>
